.feedback-page {
  padding-top: 151px;
  padding-bottom: 100px;
}

.feedback-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.feedback-content h1 {
  font-size: 4rem;
  line-height: .9;
  margin-bottom: 20px;
}

.stat-item strong {
  font-size: 2.5rem;
  color: var(--accent);
  display: block;
}

.stat-item p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: 1px;
}

.feedback-card {
  background: #fff;
  padding: 50px;
  border-radius: 24px;
  color: #000;
  position: relative;
  box-shadow: 20px 20px 0 var(--accent);
}

.quote-icon {
  position: absolute;
  top: -20px;
  right: 50px;
  background: var(--accent);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #000;
}

.feedback-card h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}



.star-on {
  color: var(--accent);
}

.star-off {
  color: #ddd;
}

@media (max-width: 968px) {
  .feedback-layout {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
